html {
  font-family: 'Onest Variable', system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 2.5em;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}