html {
  font-family: 'Onest Variable', system-ui, sans-serif;
  color: var(--light-dark);
}

a {
  color: var(--light-dark);
  text-decoration: none;
}

body {
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}