html {
  font-family: 'Onest Variable', system-ui, sans-serif;
  color: var(--light-dark);
}

a {
  color: var(--light-dark);
  text-decoration: none;
}

body {
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  opacity: 80%;
  font-weight: normal;
  font-size: 1.5rem;
}