:root {
  /* --background: #FCF8F6; */
  --background: #FFFFFF;
  --highlighted-background: #456685;
  --intro-background: #E7F2FF;
  --text-color: #6E6E6E;
}

.jp-highlighted {
  background: var(--highlighted-background);
  color: #FFFFFF;
  padding: 0px 5px;
  border-radius: 15px;
}

.jp-regular-color {
  color: var(--text-color)
}

.jp-flex-column {
  display: flex;
  flex-direction: column;
}

.jp-flex-row {
  display: flex;
  flex-direction: row;
}

.jp-font-light {
  font-weight: 200;
}

.jp-font-heavy {
  font-weight: 800;
}

.jp-font-spaced {
  letter-spacing: .2rem;
}

.jp-font-size-medium {
  font-size: 1.1em;
  line-height: 32px;
}

.jp-intro {
  background: var(--intro-background);
}

@media (max-width: 767px) {
  .jp-flex-row {
    flex-direction: column;
  }
}

.jp-svg-hover:hover svg {
  transform: rotateY(360deg);
}

svg {
  transition: all 0.65s;
}