:root {
  --dark: #040D1A;
  --light-dark: #14273E;
  --blue: #456685;
  --light-blue: #B4C4D5;
  --light: #FCF8F6;
  --padding-basic: 20px;
}

.jp-photo {
  width: 150px;
  border-radius: 50%;
}
.jp-highlight {
  font-weight: 600;
}

