:root {
  --background: #FCF8F6;
  --intro-background: #E7F2FF;
}

.jp-flex-column {
  display: flex;
  flex-direction: column;
}

.jp-flex-row {
  display: flex;
  flex-direction: row;
}

.jp-intro {
  background: var(--intro-background);
}

@media (max-width: 767px) {
  .jp-flex-row {
    flex-direction: column;
  }
}