---
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Intro from "../components/Intro.astro";
import Job from "../components/Job.astro";
import Studies from "../components/Studies.astro";
import Contact from "../components/Contact.astro";
import AboutMe from "../components/AboutMe.astro";
import Experience from "../components/Experience.astro";

const title =
	"Javier Piqueras Portfolio 👨🏻‍💻 - FullStack JavaScript Web Application Software Engineer";
const description =
	"Javier Piqueras Portolio. More than 7 years of experience in the Web Application Development as a JavaScript Fullstack. Contact for more information.";
---

<Layout title={title} description={description}>
	<main>
		<SectionContainer id="home" class="jp-flex-row" background="jp-intro">
			<Intro />
		</SectionContainer>
		<SectionContainer id="home" class="jp-flex-column">
			<Job />
		</SectionContainer>
		<SectionContainer id="experience" class="jp-flex-column">
			<Experience />
		</SectionContainer>
		<SectionContainer id="aboutme" class="jp-flex-row" background="jp-aboutme">
			<AboutMe />
		</SectionContainer>
		<SectionContainer id="studies" class="jp-flex-column">
			<Studies />
		</SectionContainer>
		<SectionContainer id="contact" class="jp-flex-column">
			<Contact />
		</SectionContainer>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 100%;
		width: 100%;
	}
</style>
