---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import TwitterIcon from '../icons/TwitterIcon.astro'
import LinkedinIcon from '../icons/LinkedinIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import EmailIcon from '../icons/EmailIcon.astro'
import SocialNetworkSite from '../components/SocialNetworkSite.astro'

const twitterURL = 'https://twitter.com/javierpiquerasm'
const gitHubURL = 'https://github.com/javierpiquerasmartinez'
const linkedinURL = 'https://www.linkedin.com/in/javipiquerasm/'
const emailURL = 'mailto:javierpiquerasmartinez@gmail.com'
---

<Layout title="Javier Piqueras Portfolio 👨🏻‍💻 - Web Application sogtware Engineer", description="TODO">
	<main>
		<section>
			<img class="jp-photo" src="/jp-photo.jpg" alt="My Photo during summer 2022">
			<h1>Hey, I'm Javier Piqueras 👨🏻‍💻
				<Badge>Available</Badge>
			</h1>
			<h2>
				<div>
					+7 years of experience <span class="jp-highlight">Software and Data Engineer</span>. 
				</div>
				<div>
					Specialized in <span class="jp-highlight">Web Application Developoment</span>. 
				</div>
				<div>
					Working as IT Delivery Manager @ BNP Paribas PF
				</div>
				<div>
					From Valencia, Spain 🇪🇸. 
				</div>
			</h2>
			<ul>
				<li>
					<SocialNetworkSite href={twitterURL}>
						<TwitterIcon />
						Twitter
					</SocialNetworkSite>
				</li>
				<li>
					<SocialNetworkSite href={linkedinURL}>
						<LinkedinIcon />
						LinkedIn
					</SocialNetworkSite>
				</li>
				<li>
					<SocialNetworkSite href={gitHubURL}>
						<GithubIcon />
						GitHub
					</SocialNetworkSite>
				</li>
				<li>
					<SocialNetworkSite href={emailURL}>
						<EmailIcon />
						javierpiquerasmartinez@gmail.com
					</SocialNetworkSite>
				</li>
			</ul>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	section {
		width: 720px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-top: 100px;
	}
	h1 {
		margin: 0;
		font-size: 3rem;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
		flex-wrap: wrap;
	}
	h2 {
		margin: 0;
		opacity: 80%;
		font-weight: normal;
	}
	ul {
		display: flex;
		gap: 10px;
		flex-direction: row;
		flex-wrap: wrap;
	}
	li {
		font-size: medium;
	}

</style>
