---
import Layout from "../layouts/Layout.astro";

import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Intro from "../components/Intro.astro";
import StudiesIcon from "../components/icons/StudiesIcon.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
import Studies from "../components/Studies.astro";

const title =
	"Javier Piqueras Portfolio 👨🏻‍💻 - FullStack JavaScript Web Application Software Engineer";
const description =
	"Javier Piqueras Portolio. More than 7 years of experience in the Web Application Development as a JavaScript Fullstack. Contact for more information.";
---

<Layout title={title} description={description}>
	<main>
		<SectionContainer id="home" class="jp-flex-row jp-intro">
			<Intro />
		</SectionContainer>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 100%;
		gap: 50px;
	}
</style>
