---
import Arrow from "./../components/icons/Arrow.astro";
---

<div></div>
<article>
  <h3>A little more about me</h3>
  <main>
    Lorem ipsum dolor sit amet consectetur. Dolor iaculis semper nec feugiat.
    Vulputate enim volutpat libero commodo dictum quisque. Elit cursus tellus
    orci orci tempus dignissim vel felis neque. Morbi quisque sodales id lorem
    hendrerit. Fusce non faucibus orci dui nunc lacus ipsum nunc. Egestas
    blandit habitasse elit in pellentesque eros mauris. Nascetur ac aliquet
    dolor sed quam et quis. Nulla imperdiet eleifend morbi quam mauris habitant
    eget.
  </main>
</article>

<style>
  article {
    width: 100%;
    color: white;
    width: 50%;
  }
</style>
