---
---
<a href="https://www.linkedin.com/in/javipiquerasm/" target="_blank" rel="noopener">
  🟢 <slot />
</a>

<style>
  a {
    font-size: small;
    font-weight: normal;
    border: 1px solid var(--light-dark);
    border-radius: 20px;
    padding: 5px;
    background: var(--blue);
    color: var(--light-blue);
  }
</style>