---
import { EXPERIENCE } from "../constants/experience";
import ExperienceCard from "./ExperienceCard.astro";
import SectionTitle from "./SectionTitle.astro";
import ExperienceIcon from "./icons/ExperienceIcon.astro";
---

<SectionTitle><ExperienceIcon />Experience</SectionTitle>
<div class="list-container">
  <ul>
    {
      EXPERIENCE.map((exp) => (
        <ExperienceCard
          title={exp.jobTitle}
          date={exp.date}
          description={exp.jobDescription}
        />
      ))
    }
  </ul>
</div>

<style>
  .list-container {
    position: relative;
  }
  .list-container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 15px;
    background: #4566857d;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 19px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style-type: none;
  }
  /*   @media (min-width: 767px) {
    .list-container::after {
      right: 0;
    }
  } */
</style>
