---
const EXPERIENCE = [
  {
    date: "Since August 2023",
    jobTitle: "BNP Paribas PF - IT Delivery Manager",
    jobDescription:
      "As an IT Delivery Manager, I am responsible for overseeing the end-to-end delivery of IT projects and initiatives, ensuring they are completed on time, within scope, and meet the specified quality standards. My role involves coordinating and collaborating with cross-functional teams, managing resources, and implementing best practices to optimize the delivery process.",
  },
  {
    date: "February 2019 - August 2023",
    jobTitle: "BNP Paribas PF - IT Change Manager",
    jobDescription:
      "As an IT Change Manager, I play a crucial role in overseeing and facilitating the implementation of changes within the IT environment of the organization. My primary responsibility is to ensure that changes to technology, processes, or systems are executed smoothly, minimizing disruptions and optimizing the overall efficiency of IT services. I collaborate with various stakeholders to assess, plan, and implement changes while adhering to established change management processes and best practices.",
  },
  {
    date: "February 2018 - February 2019",
    jobTitle: "Altran - Technical Expert",
    jobDescription:
      "Full Stack developer. Working as a consultant engineer for Cetelem (BNP Paribas Personal Finance), in the Auto Service Center (ASC), developing a software that manages the credits from the simulation of it until its closure. The technologies used were: - Javascript, HTML5, CSS3, NodeJS. - Java8, Maven, Spring, Hibernate. Development methodology: - SCRUM.",
  },
];
---

<ul>
  {
    EXPERIENCE.map((exp) => (
      <li>
        <div class="date">{exp.date}</div>
        <div class="title">{exp.jobTitle}</div>
        <div class="descr">{exp.jobDescription}</div>
      </li>
    ))
  }
</ul>

<style>
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 95%);
    margin-inline: auto;
    padding-top: 10px;
  }

  /* line */
  ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: var(--light);
    opacity: 70%;
    border-radius: calc(var(--line-w) / 2);
  }

  /* columns*/

  /* row gaps */
  ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }

  /* card */
  ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }

  /* date */
  ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--blue);

    color: var(--tr-70-light);

    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) calc(var(--dateH) / 2);
  }

  /* circle */
  ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--blue);
    border: 0.3rem solid var(--blue);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  /* title descr */
  ul li .title,
  ul li .descr {
    position: relative;
    padding-inline: 1.5rem;
  }
  ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
  }
  ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }

  /* shadows */
  ul li .title::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }

  @media (min-width: 40rem) {
    ul {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }
    ul::before {
      grid-column: 2;
    }
    ul li:nth-child(odd) {
      grid-column: 1;
    }
    ul li:nth-child(even) {
      grid-column: 3;
    }

    /* start second card */
    ul li:nth-child(2) {
      grid-row: 2/4;
    }

    ul li:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }

    ul li:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    ul li:nth-child(odd) .date {
      border-radius: calc(var(--dateH) / 2) calc(var(--dateH) / 2);
    }
  }
</style>
