---
const jpLogoURL = "/jp-logo.png";
---

<footer>
  <div>Javier Piqueras Martinez - 2024</div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1120px;
    font-style: italic;
    max-width: 100%;
  }
</style>
