---
import { version } from "./../../package.json";
const footerText = "Javier Piqueras Martinez - 2024";
---

<footer>
  <div>{footerText}</div>
  <div>Version: {version}</div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1120px;
    max-width: 100%;
    background: #456685;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--background);
  }
</style>
