---
const jpLogoURL = "/jp-logo.png";
---

<footer>
  <img class="jp-logo" src={jpLogoURL} alt="Javier Piqeras Logo" />
  <nav class="jp-nav">
    <a href="#top">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</footer>

<style>
  footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    max-width: 100%;
  }
  .jp-logo {
    width: 50px;
  }
  .jp-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
</style>
