---
import { version } from "./../../package.json";
const footerText = "Javier Piqueras Martinez - 2024";
---

<footer>
  <div>{footerText}</div>
  <div>Version: {version}</div>
</footer>

<style>
  footer {
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1120px;
    font-style: italic;
    max-width: 100%;
  }
</style>
