---
import BurgerButton from "./BurgerButton.astro";
const jpLogoURL = "/jp-logo.png";
---

<header>
  <img class="jp-logo" src={jpLogoURL} alt="Javier Piqeras Logo" />
  <div class="jp-burger-btn">
    <BurgerButton />
  </div>
  <nav class="jp-nav">
    <a href="#top">Home</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    max-width: 100%;
  }
  .jp-logo {
    width: 50px;
  }
  .jp-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .jp-burger-btn {
    display: none;
  }
  @media (max-width: 40rem) {
    .jp-burger-btn {
      display: block;
    }
    .jp-nav {
      display: none;
    }
  }
</style>
