---
/* const twitterURL = "https://twitter.com/javierpiquerasm";
const gitHubURL = "https://github.com/javierpiquerasmartinez";
const linkedinURL = "https://www.linkedin.com/in/javipiquerasm/";
const emailURL = "mailto:javierpiquerasmartinez@gmail.com"; */

const photoUrl = "/jp-photo-backgroundless.webp";
---

<article class="jp-subsection jp-intro-text">
  <div class="jp-font-light jp-font-spaced">WELCOME</div>
  <h1 class="jp-font-heavy">
    Hi, I'm <span class="jp-highlighted">Javier</span> Piqueras
  </h1>
  <div class="jp-font-size-medium jp-regular-color">
    +7 years of experience Software and Data Engineer. <br />
    Specialized in Web Application Development delivery. <br />
    Working Head of Application Development and Maintenance @ BNP Paribas PF. <br
    />
    From Valencia, Spain 🇪🇸.
  </div>
</article>
<div class="jp-subsection jp-photo">
  <img src={photoUrl} alt="A Professional Photo of Javier Piqueras" />
</div>

<style>
  .jp-subsection {
    width: 50%;
  }
  @media (max-width: 767px) {
    .jp-subsection {
      width: 100%;
    }
  }
  .jp-intro-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .jp-photo {
    display: flex;
    justify-content: center;
  }
  img {
    width: 250px;
  }
</style>
