---
import JobCard from "../components/JobCard.astro";
import DeliveryIcon from "../components/icons/DeliveryIcon.astro";
import DataIcon from "../components/icons/DataIcon.astro";
import DevelopmentIcon from "../components/icons/DevelopmentIcon.astro";
import SectionTitle from "../components/SectionTitle.astro";

const SERVICES = [
  {
    name: "Web Development",
    description:
      "Creating and maintaining websites or web applications that are accessible via the internet including front-end and back-end development, server configuration, database management, and optimization for performance and security.",
    icon: DevelopmentIcon,
  },
  {
    name: "IT Delivery Management",
    description:
      "Overseeing the successful execution of IT projects within an organization coordinating various teams, resources, and timelines to ensure that projects are completed on time, within budget.",
    icon: DeliveryIcon,
  },
  {
    name: "Data Engineering",
    description:
      "Designing, constructing, and maintaining the architecture and infrastructure necessary for the ingestion, processing, storage, and analysis of large volumes of data. Understand data requirements and develop systems that ensure data reliability, scalability, and accessibility.",
    icon: DataIcon,
  },
];
---

<article>
  <SectionTitle>What I Do</SectionTitle>
  <div class="jp-font-size-medium jp-regular-color">
    I am responsible for overseeing the successful execution of IT projects
    within an organization coordinating various teams, resources, and timelines
    to ensure that projects are completed on time, within budget, and according
    to specifications. I collaborate with stakeholders to define project
    requirements, establish goals, and manage expectations. Additionally, I
    monitor progress, identify risks and issues, and implement strategies to
    mitigate them.
  </div>
  <div class="jp-job-carrousel">
    {
      SERVICES.map((service) => (
        <JobCard
          title={service.name}
          description={service.description}
          icon={service.icon}
        />
      ))
    }
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div {
    text-align: center;
  }
  .jp-job-carrousel {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
</style>
