---
import JobCard from "../components/JobCard.astro";
import DeliveryIcon from "../components/icons/DeliveryIcon.astro";
import DataIcon from "../components/icons/DataIcon.astro";
import DevelopmentIcon from "../components/icons/DevelopmentIcon.astro";

const SERVICES = [
  {
    name: "Web Development",
    description:
      "I am responsible for overseeing the successful execution of IT projects within an organization coordinating various teams, ",
    icon: DevelopmentIcon,
  },
  {
    name: "IT Delivery Management",
    description:
      "I am responsible for overseeing the successful execution of IT projects within an organization coordinating various teams, resources, and timelines to ensure that projects are completed on time, within budget",
    icon: DeliveryIcon,
  },
  {
    name: "Data Engineering",
    description: "I am responsible for overseeing the successful execution of ",
    icon: DataIcon,
  },
];
---

<article>
  <h2>What I Do</h2>
  <div class="jp-font-size-medium jp-regular-color">
    I am responsible for overseeing the successful execution of IT projects
    within an organization coordinating various teams, resources, and timelines
    to ensure that projects are completed on time, within budget, and according
    to specifications. I collaborate with stakeholders to define project
    requirements, establish goals, and manage expectations. Additionally, I
    monitor progress, identify risks and issues, and implement strategies to
    mitigate them.
  </div>
  <div class="jp-job-carrousel">
    {
      SERVICES.map((service) => (
        <JobCard
          title={service.name}
          description={service.description}
          icon={service.icon}
        />
      ))
    }
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    position: relative;
  }
  h2::after {
    content: "";
    width: 70%;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    border-bottom: 5px solid var(--highlighted-background);
  }
  div {
    text-align: center;
    max-width: 818px;
  }
  .jp-job-carrousel {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }
</style>
