---
const { title, description } = Astro.props;
---

<article>
  <h3>
    {title}
  </h3>
  <div>
    {description}
  </div>
</article>

<style>
  article {
    border: 1px solid #dadada;
    border-radius: 10px;
  }
</style>
