---
const { title, description } = Astro.props;
const IconComponent = Astro.props.icon;
---

<article class="jp-svg-hover">
  <IconComponent color="#456685" class="icon" />
  <h3>
    {title}
  </h3>
  <div class="jp-regular-color jp-font-size-medium">
    {description}
  </div>
</article>

<style>
  article {
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.25s;
  }

  article:hover {
    background: var(--highlighted-background);
    color: white;
  }

  article:hover div {
    color: white;
  }

  div {
    text-wrap: pretty;
  }
</style>
