---
const { class: className, background: background, ...rest } = Astro.props;
---

<div class={background}>
  <section class={className} {...rest}>
    <slot />
  </section>
</div>

<style>
  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section {
    width: 1120px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 40px;
    box-sizing: border-box;
  }
</style>
