---
const { class: className, ...rest } = Astro.props;
---

<section class={className} {...rest}>
  <slot />
</section>

<style>
  section {
    width: 1120px;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 40px;
    box-sizing: border-box;
  }
</style>
