---
---
<a href={Astro.props.href} target="_blank" rel="noopener noreferrer">
  <slot />
</a>

<style>
  a {
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background: rgba(255, 255, 255, 0.3);
    padding: 2px 7px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  a:hover {
    transform: scale(1.1);
  }
</style>