---
import Header from '../components/Header.astro';
import '../styles/global.css'
import '@fontsource-variable/onest';

const { title } = Astro.props;
const logoUrl = '/jp-logo.png'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logoUrl} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
